<div fxLayout="row" fxLayout.xs="column" style="margin: 16px 0 0 0;">

  <div fxFlex="60%" layout="column" class="mat-cloumn">
    <div #pieChart id="revenuePieChart" style="width: 100%;height: 100%;"></div>
  </div>

  <div fxFlex="30%" layout="column" class="mat-cloumn">
    <div fxLayout="column" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">
      <div layout="row" fxFlex="30%" fxFlexFill fxLayoutAlign="center center" style="height: 100%;">
        <div>
          <h4 style="color: #5a5ad6;">$ 12,430</h4>
          <p style="color: #555;">Services</p>
        </div>
      </div>
      <div class="vertLine">

      </div>
      <div layout="row" fxFlex="30%" fxFlexFill fxLayoutAlign="center center">
        <div>
          <h4 style="color: #5a5ad6;">$ 12,430</h4>
          <p style="color: #555;"> Products</p>
        </div>
      </div>
      <div class="vertLine">

      </div>
      <div layout="row" fxFlex="30%" fxFlexFill fxLayoutAlign="center center">
        <div>
          <h4 style="color: #5a5ad6;">$ 12,430</h4>
          <p style="color: #555;">Voucher</p>
        </div>
      </div>
    </div>
  </div>
</div>