<mat-card fxFlex="700%;">
  <div fxLayout="row" fxLayout.xs="column">
    <h3 style="margin: 0;color: #555;">
      Average Waiting Time
    </h3>

  </div>
  <div fxLayout="row" fxFlexFill fxLayout.xs="column">

    <div layout="column" fxFlex="30%" fxFlexFill fxLayoutAlign="center center">
      <div style="margin-bottom:16px;">
        <h4 style="color: #5a5ad6; margin: 0;">16 mins</h4>
        <p style="color: #888; margin: 0;">Average Waited Time</p>
      </div>
    </div>
    <div class="vertLine-2">

    </div>
    <div fxFlex="70%" layout="column" class="mat-cloumn" style="color: #888;">
      <div fxLayout="row" fxLayout.xs="column" style="margin-top: 16px;">
        <div layout="column" fxFlex="70%" fxFlexFill fxLayoutAlign="center center">Most waited Customer</div>
        <div layout="column" fxFlex="30%" fxFlexFill fxLayoutAlign="center center">Reference Number</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px; margin-top: 16px;">
        <div layout="column" fxFlex="35%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="35%" fxFlexFill fxLayoutAlign="center center">30 minutes</div>
        <div layout="column" fxFlex="30%" fxFlexFill fxLayoutAlign="end end">1011542650</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px;">
        <div layout="column" fxFlex="35%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="35%" fxFlexFill fxLayoutAlign="center center">30 minutes</div>
        <div layout="column" fxFlex="30%" fxFlexFill fxLayoutAlign="end end">1011542650</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px;">
        <div layout="column" fxFlex="35%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="35%" fxFlexFill fxLayoutAlign="center center">30 minutes</div>
        <div layout="column" fxFlex="30%" fxFlexFill fxLayoutAlign="end end">1011542650</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px;">
        <div layout="column" fxFlex="35%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="35%" fxFlexFill fxLayoutAlign="center center">30 minutes</div>
        <div layout="column" fxFlex="30%" fxFlexFill fxLayoutAlign="end end">1011542650</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px;">
        <div layout="column" fxFlex="35%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="35%" fxFlexFill fxLayoutAlign="center center">30 minutes</div>
        <div layout="column" fxFlex="30%" fxFlexFill fxLayoutAlign="end end">1011542650</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px;">
        <div layout="column" fxFlex="35%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="35%" fxFlexFill fxLayoutAlign="center center">30 minutes</div>
        <div layout="column" fxFlex="30%" fxFlexFill fxLayoutAlign="end end">1011542650</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" style="margin-top: 16px;">
        <div layout="column" fxFlex="100%" fxFlexFill fxLayoutAlign="center center">
          <button mat-flat-button color="primary"><span style="padding: 0 16px;">Show More</span></button>

        </div>
      </div>
    </div>

  </div>

</mat-card>