

<div fxLayout="row" fxLayout.xs="column" style="margin: 16px 0 0 0;">

  <div fxFlex="90%" layout="column" class="mat-cloumn">
    <div #pieChart id="profitPieChart" style="width: 100%;height: 100%;"></div>
  </div>

  <div fxFlex="10%" layout="column" class="mat-cloumn">
    <div fxLayout="column" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">
      <div layout="row" fxFlex="100%" fxFlexFill fxLayoutAlign="center center" style="height: 100%;">
        <div>
          <mat-list>
            <mat-list-item class="no-wrap">  </mat-list-item>
            <mat-list-item class="no-wrap">  </mat-list-item>
            <mat-list-item class="no-wrap">  </mat-list-item>
            <mat-list-item class="no-wrap">  </mat-list-item>
            <mat-list-item class="no-wrap">  </mat-list-item>
            <mat-list-item class="no-wrap">  </mat-list-item>
           </mat-list>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="text-align: Center;"><span><h4 style="color: #5a5ad6;">$ 12,430</h4></span></div>