.main {height:100vh;}
.leftPanel {background-color:#2d323e;color: #FFF;transition: all 0.5s ease;}
.mainPanel {background-color:#FFF;padding:15px;overflow: auto;transition: all 0.5s ease;display: flex;}