

<div fxLayout="row" fxLayout.xs="column" style="margin: 16px 0 0 0;">

  <div fxFlex="60%" layout="column" class="mat-cloumn">
    <div #pieChart id="servicesPieChart" style="width: 100%;height: 100%;"></div>
  </div>

  <div fxFlex="40%" layout="column" class="mat-cloumn">
    <div fxLayout="column" fxLayout.xs="column" fxFlexFill fxLayoutAlign="center center">
      <div layout="row" fxFlex="100%" fxFlexFill fxLayoutAlign="center center" style="height: 100%;">
        <div>
          <mat-list>
            <mat-list-item class="no-wrap" style="color: #555;">1) Relaxation massage </mat-list-item>
            <mat-list-item class="no-wrap" style="color: #555;">2) Relaxation massage </mat-list-item>
            <mat-list-item class="no-wrap" style="color: #555;">1) Deep Tissue massage </mat-list-item>
            <mat-list-item class="no-wrap" style="color: #555;">1) Remedial massage </mat-list-item>
            <mat-list-item class="no-wrap" style="color: #555;">1) Remedial massage </mat-list-item>
           </mat-list>
        </div>
      </div>
      
      
    </div>
  </div>
</div>