<mat-card fxFlex="700%;">
  <div fxLayout="row" fxLayout.xs="column">
    <h3 style="margin: 0;color: #555;">
      Appointment Logs
    </h3>
  </div>
  <div fxLayout="row" fxFlexFill fxLayout.xs="column" fxLayoutAlign="center center">
    <div fxFlex="30%" layout="column"  class="mat-cloumn" style="margin-top: 16px;" >
      <!-- <div style="margin-bottom:16px;" >
        <h4 style="color: #5a5ad6; margin: 0;">16 mins</h4>
        <p style="color: #888; margin: 0;">Average Waited Time</p>
      </div> -->
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px;" fxLayoutAlign="center center">
        <div layout="column" fxFlex fxLayoutAlign="center center">
          <h4 style="color: #5a5ad6; margin: 0; text-align: center;" class="no-wrap ">27 <br /><span
              style="color: #888;">No Show</span> </h4>
        </div>
      </div>
      <div class="hori-1"></div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px;" fxLayoutAlign="center center">
        <div layout="column" fxFlex fxLayoutAlign="center center">
          <h4 style="color: #5a5ad6; margin: 0; text-align: center;" class="no-wrap ">17 <br /><span
              style="color: #888;">Cancelled</span></h4>
        </div>
      </div>
      <div class="hori-1"></div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px;" fxLayoutAlign="center center">
        <div layout="column" fxFlex fxLayoutAlign="center center">
          <h4 style="color: #5a5ad6; margin: 0; text-align: center;" class="no-wrap ">25 <br /><span
              style="color: #888;">Late</span></h4>
        </div>
      </div>
    </div>
    <div class="vertLine-2">

    </div>
    <div fxFlex="35%" layout="column" class="mat-cloumn" style="color: #888;">
      <div fxLayout="row" fxLayout.xs="column" style="margin-top: 16px;">
        <div layout="column" fxFlex="100%" fxFlexFill fxLayoutAlign="center center">Cancelled</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px 0; margin-top: 16px;">
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">10/23/20 17:54</div>

      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px 0 ;">
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">10/23/20 17:54</div>

      </div>
      <div fxLayout="row" fxLayout.xs="column"  style="padding: 4px 0 ;">
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">10/23/20 17:54</div>

      </div>
      <div fxLayout="row" fxLayout.xs="column"  style="padding: 4px 0 ;">
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">10/23/20 17:54</div>

      </div>
      <div fxLayout="row" fxLayout.xs="column"  style="padding: 4px 0 ;">
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">10/23/20 17:54</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column"  style="padding: 4px 0 ;">
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">10/23/20 17:54</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" style="margin-top: 16px;">
        <div layout="column" fxFlex="100%" fxFlexFill fxLayoutAlign="center center">
          <button mat-flat-button color="primary"><span style="padding: 0 16px;">Show More</span></button>

        </div>
      </div>
    </div>
    <div class="vertLine-2">

    </div>
    <div fxFlex="35%" layout="column" class="mat-cloumn" style="color: #888;">
      <div fxLayout="row" fxLayout.xs="column" style="margin-top: 16px;">
        <div layout="column" fxFlex="100%" fxFlexFill fxLayoutAlign="center center">No Show</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px 0; margin-top: 16px;">
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">10/23/20 17:54</div>

      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px 0 ;">
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">10/23/20 17:54</div>

      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px 0 ;">
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">10/23/20 17:54</div>

      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px 0 ;">
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">10/23/20 17:54</div>

      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px 0 ;">
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">10/23/20 17:54</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" style="padding: 4px 0 ;">
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="start start">John Deo</div>
        <div layout="column" fxFlex="50%" fxFlexFill fxLayoutAlign="center center">10/23/20 17:54</div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" style="margin-top: 16px;">
        <div layout="column" fxFlex="100%" fxFlexFill fxLayoutAlign="center center">
          <button mat-flat-button color="primary"><span style="padding: 0 16px;">Show More</span></button>

        </div>
      </div>
    </div>

  </div>
</mat-card>