@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: 'Verdana';
    padding: 0;
    margin: 0;
}

h3, h4 {font-size:18px;margin-bottom: 0;}
.mat-list-base .mat-list-item .mat-list-item-content {padding: 0 6px !important;}
.mat-cloumn {padding:0 10px;}
.user-control {width: 100%;}

.row {margin: 0 -10px;}
.mat-form-field-infix, .mat-form-field {width: 100% !important;}
app-home {width: 100%;}